@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

.frame {
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 10%;
    align-items: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease-out;
    justify-content: space-between;
    padding: 1.5%;
}

.frame:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.text_and_input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    vertical-align: middle;
    align-items: center;
    height: 140px;
    width: 100%;
}

.mode_toggle {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    height: 40px;
}

.submit {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: space-around;
    height: 90px;
    align-items: center;
}

.text_general {
    font-family: "Inter";
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

#tg {
    display: none;
}

#button_return {
    display: none;
}

#button_quiz {
    display: none;
}

/* Buttons */
.btn_default {
    background-color: coral;
    transition-duration: 0.4s;
    color: white;
    border: none;
    border-radius: 16px;
    width: fit-content;
    height: 40px;
    align-items: center;
    font-family: 'Inter';
    font-size: 16px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.btn_default:hover {
    background-color: #DE6D44;
}

.btn_outline {
    background-color: #E7E2E2;
    color: coral;
    border: 2px solid coral;
    transition-duration: 0.4s;
    border-radius: 16px;
    width: fit-content;
    height: 40px;
    align-items: center;
    font-family: 'Inter';
    font-size: 16px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}
.btn_outline:hover {
    background-color: coral;
    color: white;
}

.btn_disable {
    background-color: #E7E2E2;
    color: #E7E2E2;
    border: none;
    border-radius: 8px;
    width: 25%;
    height: 50px;
    align-items: center;
    font-family: 'Inter';
    font-size: 24px;
    opacity: 0.6;
    cursor: not-allowed;
}

.btn_close {
    position: absolute;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}
.btn_close::before, .btn_close::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 3px;
    background: coral;
}
.btn_close::before {
    transform: rotate(45deg);
}
.btn_close::after {
    transform: rotate(-45deg);
}
